body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
  
.navbar {
  overflow: hidden;
  background-color: #333;
}
 
.obj {
  width: 100%;
  height: 10%;
}

.obj1 {
  width: 100%;
  height: 95%;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
  
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
  
.navbar a:active {
  background-color: #4CAF50;
  color: blue;
}

hr.solid {
  border-top: 15px solid #50B6FF; 
}

div.heading {
  margin: 0 auto;
  text-align: center;
}

h3.heading {
  color: #F36020;  
}

span.next:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

span.prev:after {
  content: '<';
  font-size: 55px;
  color: red;
}
