.center {
    margin:100 auto;
    position: relative;
    opacity: 0.8;
    padding: 30px;
    max-width: 650px;
    position: relative;
    border-radius: 5px;
    border-style: solid;
    background-color: #4e6ce6 ;
}
.backColor {
    color: #ebebeb;
    background-color: 4fc7fa;
}
body {
    background: url("../Images/finanace_bg.jpg");
    background-size: cover;

    background-position: center;
    background-repeat: no-repeat;
    
}
h1 {
    text-align: center;
    color : #fefdfd ;
    font-weight: bold;
}
h3 {
    text-align: center;
    color : #fefdfd ;
    font-weight: bold;
}

label {
    color : #dfe7e0 ;
    font-weight: bold;
}
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    -webkit-transition: 1.0s;
    transition: 1.0s;
    outline: none;
  }
  
  input[type=email]:focus {
    border: 3px solid red;
  }
  input[type=password] {
     width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    -webkit-transition: 1.0s;
    transition: 1.0s;
    outline: none;
  }
  input[type=password]:focus {
    border: 3px solid red;
  }
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
    font-weight: bold;
  }